.container {
    width: 250px;
    height: 400px;
}

.photo {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    object-fit: cover;
    object-position: center center;
}

.img {
    width: 350px;
    height: auto;
}