:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;
  --color-yellow: #ffff00;
}

body {
  background-color: var(--color-dark-gray);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}