h1 {
    color: #fff;
}

ul {
    color: #fff;
}

.wrapper {
    margin-top: 45px;
}

.person__name {
    padding: var(--spacing-small);
    color: var(--color-white);
    background-color: var(--color-violet);
    font-size: var(--font-size-subheader);
    font-weight: var(--font-bold);
    border-radius: var(--border-radius-small);
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-left: 5px solid var(--color-violet);
    padding: var(--spacing-medium);
}

