.button {
    height: 45px;
    padding: 0 20px;
    border-radius: 5px;
    border: none;
    background-color: #303030; /* A typical blue for primary actions */
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px; /* Add some spacing between buttons */
}

.button:hover {
    background-color: #5f5f5f; /* Darker blue on hover */
}

.button:disabled {
    background-color: #cccccc; /* Grey out disabled buttons */
    cursor: not-allowed;
}